.usage{
    display: flex;
    justify-content: center;
   margin-top: 20%;
}
.usage-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid grey;
}
.usage-item label{
    font-size: 60px;
    font-weight: bold;
}